<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="color-scheme" content="light dark">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&display=swap"
    rel="stylesheet">

</head>

<body>
  <div
    style="width:100%;padding:0;margin:0;box-sizing:border-box;background: #033348;padding:2% 4%;padding-bottom: 4%;">
    <img style="height: 60px;width: 60px;padding-left:4%;margin-top:1%;margin-bottom:1.5%;"
      src="https://mittarvtesting.blob.core.windows.net/mittarv-icons/mittarv_logo_white_tm.png" />

    <div style="background: #054A68;padding:2% 4%;margin-bottom:2%;border-radius: 5px;text-align: center;">
      <img style="margin-top:40px;margin-bottom:1.5%; width: 68px; height: 68px;"
        src="https://mittarvtesting.blob.core.windows.net/mittarv-icons/added_as_trusted.png" />
      
      <h2
        style="margin-bottom: 20px;color:white;font-weight:700;font-family: 'Plus Jakarta Sans', sans-serif;font-size: 14px;letter-spacing: 1.5%; text-align: center;">
        You have been chosen as a<br /> Trusted Contact!</h2>
        <h2
        style="margin-bottom: 20px;color:white;font-weight:700;font-family: 'Plus Jakarta Sans', sans-serif;font-size: 14px;letter-spacing: 1.5%; text-align: center;">
        Dear {{trustedContact}},</h2>
      <p class="message" style="      
      padding-left: 12%;
      padding-right: 12%;
      text-align: left;
      color: white;
      font-family: 'Plus Jakarta Sans', sans-serif;
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.18px;">
        We are pleased to inform you that {{userName}} has selected you as a trusted contact.<br><br>

        At Mitt Arv, we place a strong emphasis on the safety and security of our users. Our mission is to empower 
        them to build their legacy with utmost assurance. By designating you as their trusted contact, {{userName}} 
        has demonstrated their trust and confidence in your ability to assist them in times of need.<br><br>

        As a trusted contact, your role is to serve as an intermediary between {{userName}} and Mitt Arv in case of 
        any changes in their status. If we are unable to establish a direct contact with them to confirm their status 
        or provide relevant information, we may reach out to you. Moreover, you can conveniently inform Mitt Arv by 
        using our app.<br><br>

        We acknowledge the sensitive nature of this subject, and we want to assure you that all communications 
        will be handled with utmost care and respect. Your invaluable assistance in this matter is greatly 
        appreciated, and we sincerely thank you in advance for your cooperation. If you have any questions 
        or concerns, please don't hesitate to contact us directly at support@mittarv.com. We are wholeheartedly 
        committed to preserving the privacy and security of our users, and we will approach this matter with 
        utmost professionalism and respect.<br><br>

        Thank you for your attention to this matter!<br><br>

        If you're not registered on Mitt Arv, please click here to register:- 
        <a href="https://www.mittarv.com/#/register/referralcode/{{code}}" 
        style="display: inline-block; max-width: 100%; word-wrap: break-word; color: white;" target="_blank">
        https://www.mittarv.com/#/register/referralcode/{{code}}</a>
      </p>
      
      <div class="intimation" style="font-family: 'Plus Jakarta Sans', sans-serif;
      color: white;
      padding-left: 12%;
      padding-right: 12%;
      margin-bottom: 25px;
      text-align: center;
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.18px;">
      </div>
      <p
        style="font-size: 12px;font-family: 'Plus Jakarta Sans', sans-serif;color:white;font-weight:400;letter-spacing: 1.5%;text-align: center;">
        Best,<br>Team<span
          style=" font-size: 12px;font-family: 'Plus Jakarta Sans', sans-serif; color: #84B5D2;font-weight: 700;letter-spacing: 1.5%;">
          Mitt
          Arv</span><br>
        <b>Zero - Life - Infinity</b>
      </p>
      <hr
        style="height:2px;border-width:0;color:#033348;background-color:#033348;margin-top:2.5%;margin-bottom:2.5%;width:110%;margin-left: -5%;">
      <p
        style="text-align: center;font-family: 'Plus Jakarta Sans', sans-serif;font-size: 12px;color: white;letter-spacing: 1.5%;">
        For any inquiries, kindly reach out to us at<br> support@mittarv.com

      </p>
    </div>
  </div>
</body>

</html>